<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PANTRY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/assets/js/expiration.js"></script>
    <style>
        #storageName {
            font-style: italic;
            font-size: 60px;
            margin-left: 30%;
            margin-right: 30%;
            color: black;
            background-color: yellow;
            border: black 5px solid;
        }

        body {
            background-image: url("/assets/images/pantryBG.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <a href="/">
            <button id="returnBtn" class='btn btn-success shadow' style='border: black solid 3px;'>
                <i class="fas fa-home fa-4x"></i>
            </button>
        </a>
        <a href="/view-freezer">
            <button class='btn btn-success shadow' style='border: black solid 3px;'>
                <i class="fa-2x">Freezer</i>
            </button>
        </a>
        <a href="/view-fridge">
            <button class='btn btn-success shadow' style='border: black solid 3px;'>
                <i class="fa-2x">Fridge</i>
            </button>
        </a>
        <a href="/create-item">
            <button class='btn btn-success shadow' style='border: black solid 3px; float: right;'>
                <i class="fas fa-plus fa-4x"></i>
            </button>
        </a>
        <h1 id='storageName' style="text-align: center;">PANTRY</h1>
    </div>
    <div class="container">
        {{#each items}}
            <div class="card" style="margin-top:10px; background-color: beige; border:black solid 4px;" id="itemInfo{{id}}">
                <h5 contenteditable="true" id="name{{id}}" class="card-header"><span>{{name}}</span></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://i0.wp.com/cowancenter.org/wp-content/uploads/2020/06/placeholder.png?ssl=1" alt="placeholder" class="img-thumbnail">
                        </div>
                        <div class="col-md-6" style="text-align: center; margin-top: 30px;">
                            <h1>Amount: <span id="quantity{{id}}" class="card-title" contenteditable="true">{{quantity}}</span></h1>
                            <h1>Expires on: <span id="expiration{{id}}" class="card-title" contenteditable="true">{{expiration}}</span></h1>
                            <h1>Description: <span id="description{{id}}" class="card-title" contenteditable="true">{{description}}</span></h1>
                        </div>
                        <div class="col-md-3" style='margin-top: 20px; text-align: cemter;'>                     
                            <button class='update btn btn-primary shadow' id={{id}} style='width: 180px; border: black solid 3px;'>
                                <i class="far fa-save fa-5x"></i>
                            </button>
                            <br>
                            <button class='delete btn btn-danger shadow' id={{id}} style='width: 180px; margin-top:20px; border: black solid 3px;'>
                                <i class="far fa-trash-alt fa-5x"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</body>

</html>