<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRIDGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/assets/js/expiration.js"></script>
    <style>
        * {
            text-align: center;
        }
        .col {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a href="/"><button id="returnBtn">back to home</button></a>
    <a href="/create-item"><button>enter item</button></a>
    <h1 id='storageName'>FRIDGE</h1>
            {{#each items}}
    <br>
    <div class="card" id="itemInfo{{id}}">
        <img src="..." class="card-img-top" alt="image of {{name}}">
        <div class="card-body">
            <h5 contenteditable="true" id="name{{id}}"><span>{{name}}</span></h5>
            <p contenteditable="true" id="description{{id}}"><span>{{description}}</span></p>
        </div>
        <ul class="list-group list-group-flush">
            <li contenteditable="true">Amount: <span id="quantity{{id}}">{{quantity}}</span></li>
            <li contenteditable="true">Expires on: <span id="expiration{{id}}">{{expiration}}</span></li>
        </ul>
        <div class="card-body">
            <div><button class='update' id={{id}}>Save Changes</button></div>
            <div><button class='delete' id={{id}}>Delete</button></div>
        </div>
    </div>
    <br>
    {{/each}}
</body>
</html>