<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRIDGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/assets/js/expiration.js"></script>
    <style>
        #storageName {
            font-style: italic;
            font-size: 60px;
            margin-left: 30%;
            margin-right: 30%;
            color: blue;
            background-color: lightblue;
            border: solid 5px grey;
        }
        body {
            background-image: url("https://ak.picdn.net/shutterstock/videos/17874232/thumb/1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div id="header">
        <br>
        <div id="nav">
            <a href="/"><button class="btn btn-info" id="returnBtn">back to home</button></a>
            <a href="/create-item"><button class="btn btn-success">enter item</button></a>
        </div>
        <br>
        <h1 id='storageName'>FRIDGE</h1>
    </div>
    {{#each items}}
    <br>
    <div class="card" id="itemInfo{{id}}">
        <img src="..." class="card-img-top" alt="image of {{name}}">
        <div class="card-body">
            <h5 contenteditable="true" id="name{{id}}"><span>{{name}}</span></h5>
            <p contenteditable="true" id="description{{id}}"><span>{{description}}</span></p>
        </div>
        <ul class="list-group list-group-flush" style="list-style-type: none;">
            <li contenteditable="true">Amount: <span id="quantity{{id}}">{{quantity}}</span></li>
            <li contenteditable="true">Expires on: <span id="expiration{{id}}">{{expiration}}</span></li>
        </ul>
        <div class="card-body">
            <div><button type="button" class='update btn btn-primary' id={{id}}>Save Changes</button></div>
            <br>
            <div><button type="button" class='delete btn btn-danger' id={{id}}>Delete</button></div>
        </div>
    </div>
    <br>
    {{/each}}
</body>
</html>