<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FREEZER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="/assets/js/view-freezer.js"></script>
    <script src="/assets/js/expiration.js"></script>
    <style>
        * {
            text-align: center;
        }

        .col {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <a href="/"><button id="returnBtn">back to home</button></a>
    <h1>FREEZER</h1>
    <div class="row">
        <div class="col">name</div>
        <div class="col">quantity</div>
        <div class="col">expiration</div>
        <div class="col">description</div>
        <div class="col">update btn</div>
        <div class="col">delete btn</div>
    </div>
    {{#each items}}
    <div class="row" id="itemInfo{{id}}">
        <div class="col" id="name{{id}}" contenteditable="true"><span>{{name}}</span></div>
        <div class="col" id="quantity{{id}}" contenteditable="true"><span>{{quantity}}</span></div>
        <div class="col" id="expiration{{id}}" contenteditable="true"><span>{{expiration}}</span></div>
        <div class="col" id="description{{id}}" contenteditable="true"><span>{{description}}</span></div>
        <div class="col"><button class='update' id={{id}}>Save Changes</button></div>
        <div class="col"><button class='delete' id={{id}}>Delete</button></div>
    </div>
    {{/each}}
</body>

</html>